{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <div class="subtitle tags is-6 is-pulled-right">
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>{{ end }}
    <h1 class="title">{{ .Title }}</h1>
    {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }}
    <div class="content">
      {{ .Content }}
      <ul class="pager">
        {{ if .NextPage }}
        <li class="previous"><a href="{{ .NextPage.Permalink }}">Вперед <span aria-hidden="true">&larr;</span></a></li>
        {{ else }}
        <li class="previous disabled"><a href="#">Вперед <span aria-hidden="true">&larr;</span></a></li>
        {{ end }}
        {{ if .PrevPage }}
        <li class="next"><a href="{{ .PrevPage.Permalink }}"><span aria-hidden="true">&rarr;</span> Назад</a></li>
        {{ else }}
        <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span> Назад</a></li>
        {{ end }}
      </ul>
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
    {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}
    {{ end}}
  </div>
</section>

{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
    <script src="/js/copycode.js"></script>
{{ end }}
{{ partial "disqus" . }}
{{ partial "footer" . }}
